/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

 .react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  
  /*
   * Default color scale
   */
  
  .react-calendar-heatmap .color-empty {
    fill: #eeeeee;
  }
  
  .react-calendar-heatmap .color-filled {
    fill: #8cc665;
  }
  
  /*
   * Github color scale
   */
  
  .react-calendar-heatmap .color-github-0 {
    fill: #eeeeee;
  }
  .react-calendar-heatmap .color-github-1 {
    fill: #d6e685;
  }
  .react-calendar-heatmap .color-github-2 {
    fill: #8cc665;
  }
  .react-calendar-heatmap .color-github-3 {
    fill: #44a340;
  }
  .react-calendar-heatmap .color-github-4 {
    fill: #1e6823;
  }
  
  /*
   * Gitlab color scale
   */
  
  .react-calendar-heatmap .color-gitlab-0 {
    fill: #ededed;
  }
  .react-calendar-heatmap .color-gitlab-1 {
    fill: #acd5f2;
  }
  .react-calendar-heatmap .color-gitlab-2 {
    fill: #7fa8d1;
  }
  .react-calendar-heatmap .color-gitlab-3 {
    fill: #49729b;
  }
  .react-calendar-heatmap .color-gitlab-4 {
    fill: #254e77;
  }
  .my-card{
    .my-card-subtitle{
      color: white;
    }
    .my-title{
      color: white;
    }
    .my-card-title{
      color: white;
    }
  }
  .vertical-timeline-element--work{
    background-color: transparent;
  }

  /* 增加时间线元素与轴线的距离 */
.react-vertical-timeline-element-content {
  margin-left: 30px !important; /* 向左侧元素添加额外距离 */
  margin-right: 30px !important; /* 向右侧元素添加额外距离 */
}

/* 调整箭头样式，以确保它与调整后的卡片对齐 */
.react-vertical-timeline-element-content-arrow {
  left: -15px !important; /* 如果需要，根据实际效果调整这个值 */
}


/* heatmap.scss 或其他CSS文件 */
.my-custom-timeline-element .vertical-timeline-element-date {
  /* 调整位置 */
  padding-left: 20px; /* 或其他值，根据需要调整 */
}
